.underconstructionpage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.underconstructionpage-underconstructionpage {
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.underconstructionpage-text {
  top: 714px;
  left: 104px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.underconstructionpage-finaklogo1 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 792px;
  position: absolute;
}
.underconstructionpage-text02 {
  top: 423px;
  left: 12px;
  color: rgba(245, 245, 245, 1);
  width: 337px;
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.underconstructionpage-text11 {
  top: 400px;
  left: 32px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Black;
  text-align: center;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.underconstructionpage-finaklogomodified1 {
  top: 126.6199951171875px;
  left: 38.17999267578125px;
  width: 279px;
  height: 276px;
  position: absolute;
  border-radius: 37.43999481201172px;
}
.underconstructionpage-footer {
  top: 626px;
  left: 0px;
  width: 360px;
  height: 174px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.underconstructionpage-footerbg {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 174px;
  position: absolute;
}
.underconstructionpage-text13 {
  top: 43px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 49px;
  height: auto;
  position: absolute;
  font-size: 13.499908447265625px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.underconstructionpage-text15 {
  top: 127px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 13.499908447265625px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.underconstructionpage-text17 {
  top: 99px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 13.499908447265625px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.underconstructionpage-text19 {
  top: 71px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 49px;
  height: auto;
  position: absolute;
  font-size: 13.499908447265625px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.underconstructionpage-frame3dots {
  top: 598px;
  left: 143px;
  width: 69px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.underconstructionpage-ellipse1 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 8px;
  position: absolute;
}
.underconstructionpage-ellipse3 {
  top: 0px;
  left: 30px;
  width: 9px;
  height: 8px;
  position: absolute;
}
.underconstructionpage-ellipse4 {
  top: 0px;
  left: 60px;
  width: 9px;
  height: 8px;
  position: absolute;
}
.underconstructionpage-nav-bar {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.underconstructionpage-n-bbg {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 52px;
  position: absolute;
}
.underconstructionpage-backicon {
  top: 8.1199951171875px;
  left: 4.1199951171875px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.underconstructionpage-logo {
  top: 5px;
  left: 109px;
  width: 141px;
  height: 42px;
  position: absolute;
}
